{{/* Portfolio Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "project" }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
  <div class="col-12 col-lg-4 section-heading">

    {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

  </div>
  <div class="col-12 col-lg-8">

<div class="hexBadges">

        <a href="https://github.com/globalgov/qStates"><div class="filtered r2 c0"></div><img src="https://raw.githubusercontent.com/globalgov/qStates/main/inst/qStates_hexlogo.png" alt="qstates hex sticker" class="r2 c0"></a>
        <a href="https://github.com/globalgov/qData"><div class="filtered r3 c0"></div><img src="https://raw.githubusercontent.com/globalgov/qData/main/inst/qdata_hexlogo.png" alt="qdata hex sticker" class="r3 c0"></a>
        <a href="https://github.com/globalgov/qEnviron"><div class="filtered r4 c0"></div><img src="https://raw.githubusercontent.com/globalgov/qEnviron/main/inst/qenviron_hexlogo.png" alt="qenviron hex sticker" class="r4 c0"></a>

        <a href="https://github.com/snlab-nl/rsiena"><div class="filtered r2 c1"></div><img src="https://raw.githubusercontent.com/snlab-nl/rsiena/main/inst/rsienalogo.png" alt="rsiena hex sticker" class="r2 c1"></a>
        <a href="https://github.com/snlab-ch/migraph"><div class="filtered r3 c1"></div><img src="https://raw.githubusercontent.com/snlab-ch/migraph/main/inst/migraph.png" alt="migraph hex sticker" class="r3 c1"></a>
        <a href="https://github.com/snlab-ch/goldfish"><div class="filtered r4 c1"></div><img src="https://raw.githubusercontent.com/snlab-ch/goldfish/main/inst/hexlogo_goldfish.png" alt="goldfish hex sticker" class="r4 c1"></a>

        <a href="https://github.com/jhollway/iheiddown"><div class="filtered r3 c2"></div><img src="https://raw.githubusercontent.com/jhollway/iheiddown/main/inst/iheiddown.png" alt="iheiddown hex sticker" class="r3 c2"></a>

</div>
