<!-- Default Statcounter code for Jameshollway.com
http://openleafjournal.com/ -->
<script type="text/javascript">
var sc_project=7534994;
var sc_invisible=1;
var sc_security="185eb39b";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/7534994/0/185eb39b/1/"
alt="Web Analytics Made Easy -
StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
